        table { 
             border-collapse: collapse; 
             width: 80%; 
             margin: 30px auto; 
         } 

      th, td { 
             border: 2px solid #080f01; 
             padding: 9px; 
         } 

         th { 
            background-color: #a4e0eb;
            text-align: center; 
         }
            tr:hover { 
             background-color: #ecc8e7; 
         } 
         button:hover{
            background-color: #a7e3cd;
         }
         h1{
            background-color:rgb(237, 195, 89)
         }
         h2{
            background-color: rgb(194, 209, 215);
         }
         form{
            background-color: rgb(83, 167, 167);
         }
p
{
   background-color: rgb(233, 230, 226);
}